<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="">Family Token</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="landing">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="blog">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="buy">Buy</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="family-nfts">FamilyNFTs</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="profit-list">Profits</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="referral-codes">Referral Codes</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="datacollection">Migration Data Collection</a>
        </li>

        <li class="nav-item">
          <a class="nav-link btn" (click)="doLogout()">Logout</a>
        </li>

      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

  <!--
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon icon-bar"></span>
        <span class="icon icon-bar"></span>
        <span class="icon icon-bar"></span>
      </button>

      <! -- lOGO TEXT HERE -- >
      <a href="http://3.121.57.17/dashboard/index.html" class="navbar-brand">Family Token</a>
    </div>

    <! -- MENU LINKS -- >
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-nav-first">
        <li><a href="/dashboard/index.html#home" class="smoothScroll">Home</a></li>
        <li><a href="/dashboard/index.html#about" class="smoothScroll">About</a></li>
        <! --  <li><a href="#blog" class="smoothScroll">Blog</a></li> -- ∂>
        <li><a href="/dashboard/boxes.html" class="smoothScroll">Dashboard</a></li>
        <li><a href="/dashboard/index.html#contact" class="smoothScroll">Contacts</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://facebook.com/familytoken"><i class="fa fa-facebook-square"></i></a></li>
        <li><a href="https://twitter.cm/familytoken"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://instagram.com/familytoken"><i class="fa fa-instagram"></i></a></li>
        <li class="section-btn"><a href="sign-in" data-toggle="modal" data-target="#modal-form">Sign in / Join</a></li>
      </ul>
    </div>
  </div>
  -->
