<div class="container">
  <div class="row">&nbsp;</div>
  <div class="row text-center"><h1>Family Token</h1></div>
  <div class="row text-center"><h2>New Website Migration Form</h2></div>
  <div class="row">&nbsp;</div>
  <div class="row">
    <div class="col-6 offset-3">
      <div class="card" >
        <div class="row">&nbsp;</div>
        <div class="text-center"><h3>Sign up</h3></div>

        <form (ngSubmit)="submitSignUpForm()" #signUpForm="ngForm">

          <!--div class="input_box"> [ngClass]="{'red-border' : (uFirstName.touched || uFirstName?.valid)}" -->
          <div class="row">
            <div class="col-10 offset-1">
              <input class="form-control" type="text" placeholder="First Name" name="uFirstName" id="uFirstName" [(ngModel)]="userFirstName" #name="ngModel" required>
              <!--div class="icon"><i class="fas fa-user"></i></div-->
            </div>
          </div>

          <!--div class="input_box"> [ngClass]="{'red-border' : (!!signUpForm.get('userLastName')?.touched && !!signUpForm.get('userLastName')?.invalid)}"-->
          <div class="row">
            <div class="col-10 offset-1">
              <input class="form-control" type="text" placeholder="Last Name" name="uLastName" id="uLastName" [(ngModel)]="userLastName" required >
              <!--div class="icon"><i class="fas fa-user"></i></div-->
            </div>
          </div>

          <!--div class="row">
            <div class="col-10 offset-1">
              <input class="form-control" type="text" placeholder="Username" name="uName" id="uName" [(ngModel)]="userName" required >
            </div>
          </div-->

          <!--div class="input_box"> [ngClass]="{'red-border' : (!!signUpForm.get('userAddress')?.touched && !!signUpForm.get('userAddress')?.invalid)}"-->
          <div class="row">
            <div class="col-10 offset-1">
              <input class="form-control" type="text" placeholder="Enter your full address" name="uAddress" id="uAddress" [(ngModel)]="userAddress" required>
            </div>
            <!--div class="icon"><i class="fas fa-user"></i></div-->
          </div>

          <!--div class="input_box"> [ngClass]="{'red-border' : (!!signUpForm.get('userZipCode')?.touched && !!signUpForm.get('userZipCode')?.invalid)}"-->
          <div class="row">
            <div class="col-10 offset-1">
              <input class="form-control" type="text" mask="99999" placeholder="Zip" name="uZipCode" id="uZipCode" [(ngModel)]="userZipCode" required>
            </div>
            <!--div class="icon"><i class="fas fa-user"></i></div-->
          </div>

          <!--div class="input_box"> [ngClass]="{'red-border' : (!!signUpForm.get('userCountry')?.touched && !!signUpForm.get('userCountry')?.invalid)}"-->
          <div class="row">
            <div class="col-10 offset-1">
              <select class="form-select"  name="uCountry" id="uCountry" [(ngModel)]="userCountry" required>
                <option value="" disabled selected>Select Country</option>
                <option *ngFor="let country of countries" [value]="country.name">{{country.name}}</option>
              </select>
            </div>
          </div>

          <div class="row">
            <div class="col-10 offset-1">
              <input class="form-control" type="text" placeholder="Email" name="uEmail" id="uEmail" [(ngModel)]="userEmail" required >
            </div>
          </div>

          <!--
          <div class="row">
            <div class="col-10 offset-1">
              <input class="form-control" type="password" placeholder="Password" name="uPassword" id="uPassword" [(ngModel)]="userPassword" required>
            </div>
          </div>

          <div class="row">
            <div class="col-10 offset-1">
              <input class="form-control" type="password" placeholder="Confirm Password" name="uConfirmPassword" id="uConfirmPassword" [(ngModel)]="userConfirmPassword" required>
            </div>
          </div>
          -->

          <!--div class="input_box"> [ngClass]="{'red-border' : (!!signUpForm.get('userPhoneNumber')?.touched && !!signUpForm.get('userPhoneNumber')?.invalid)}" -->
          <div class="row">
            <div class="col-10 offset-1">
              <input class="form-control" type="text" mask='9{14}' placeholder="Phone Number" name="uPhoneNumber" id="uPhoneNumber"[(ngModel)]="userPhoneNumber" (keypress)="keyPressNumbers($event)" maxlength=14 required>
            </div>
            <!--div class="icon"><i class="fas fa-phone"></i></div-->
          </div>

           <!--div class="input_box"> [ngClass]="{'red-border' : (!!signUpForm.get('userSponsorPhoneNumber')?.touched && !!signUpForm.get('userSponsorPhoneNumber')?.invalid)}"-->
           <div class="row">
            <div class="col-10 offset-1">
              <input  class="form-control" type="tel" placeholder="Your Sponsor Phone Number" name="uSponsorPhoneNumber" id="uSponsorPhoneNumber" [(ngModel)]="userSponsorPhoneNumber" (keypress)="keyPressNumbers($event)" maxlength="14">
            </div>
            <!--div class="icon"><i class="fas fa-phone"></i></div-->
          </div>

          <!--div class="input_box" [ngClass]="{'red-border' : (!!signUpForm.get('userNumberOfPackages')?.touched && !!signUpForm.get('userNumberOfPackages')?.invalid)}">
            <input type="text" placeholder="Number of Packages" formControlName="userNumberOfPackages" (keypress)="keyPressNumbers($event)" minlength="1" maxlength="7">
          </div-->


          <div class="row">
            <div class="col-5 offset-1">Packages</div>
            <div class="col-5 text-end"><div class="btn" (click)="addNewPackage()">+</div></div>
          </div>
          
          <div *ngFor="let pack of userPurchasePackagesArray; let idx = index">
            <div class="row">
              <div class="col-4 offset-1">
                <input class="form-control" type="text" mask="d0.M0.0000" [leadZeroDateTime]="true"  placeholder="DD.MM.YYYY" name="pPruchaseDate" id="pPurchaseDate" [(ngModel)]="pack.purchaseDate">
              </div>
              <div class="col-5">
                <input class="form-control" type="text" placeholder="Number of Packages" (keypress)="keyPressNumbers($event)" minlength=1 maxlength=5 name="pNumberOfPackages" id="pNumberOfPackages" [(ngModel)]="pack.numberOfPackages">
              </div>
              <div class="col-1 text-end">
                <div class="btn" (click)="removePackage(idx)">-</div>
              </div>
            </div>
          </div>


          <!--div *ngFor="let pack in signUpForm.get('userPurchasePackagesArray')['controls']; index as idx">
            <div class="input_box">
              <input type="text" placeholder="DD.MM.YYYY" [(ngModel)]="idx">
            </div>
            < !--div class="input_box">
              <input type="text" placeholder="Number of Packages" (keypress)="keyPressNumbers($event)" minlength=1 maxlength=5 [ngModel]="pack.numberOfPackages">
            </div-- >
            <hr>
          </div-->


          <!--div class="input_box">
            <input type="text" placeholder="Did you deposit YES or NO" required>
            <div class="icon"><i class="fas fa-user"></i></div>
          </div-->
          <div class="row">
            <div class="col-10 offset-1">Did you pay 10 BUSD for maintenance</div>
          </div>
          <div class="row">
            <div class="col-3 offset-8">
              <span>
                <a class="toggle-button-text-no">NO</a>
              <label class="switch">
                <input type="checkbox" name="uDepoitDone" id="uDepositDone" [(ngModel)]="userDepositDone">
                <span class="slider round"></span>
              </label>
               <a class="toggle-button-text-yes">YES</a>
              </span>
            </div>
          </div>

          <!--div class="input_box" *ngIf="!!signUpForm.get('userDepositDone')?.value">
            <div>
              <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked formControlName="userTxHash">
                <label class="btn btn-outline-primary" for="btnradio1">Google Form</label>

                <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" formControlName="userTxHash">
                <label class="btn btn-outline-primary" for="btnradio2">Hash ID</label>
              </div>
            </div>
          </div-->

          <div class="row">
            <div class="col-10 offset-1">
              <select class="form-select" name="uDepositType" id="uDepositType" [(ngModel)]="userDepositType">
                <option value=0>Google From</option>
                <option value=1>Tx Hash</option>
              </select>
            </div>
          </div>

          <div class="row" *ngIf="!!userDepositType">
            <div class="col-10 offset-1">
              <input class="form-control" type="text" placeholder="TxHash" name="uTxHash" id="uTxHash" [(ngModel)]="userTxHash">
            </div>
          </div>

          <div class="row">
            <div class="col-10 offset-1">
              <input class="form-control" type="text" placeholder="Total Balance" name="uTotalBalance" id="uTotalBalance" [(ngModel)]="userTotalBalance" (keypress)="keyPressNumbers($event)" minlength="1" maxlength="7">
            </div>
          </div>
      
          <div class="row">
            <div class="col-10 offset-1">Your old data is valid</div>
          </div>
          <div class="row">
            <div class="col-3 offset-8">
              <span>
                <a class="toggle-button-text-no">NO</a>
                <label class="switch">
                  <input class="form-control" type="checkbox" name="uDataIsValid" id="userDataIsValid" [(ngModel)]="userDataIsValid">
                  <span class="slider round"></span>
                </label>
                <a class="toggle-button-text-yes">YES</a>
              </span>
            </div>
          </div>

          <div class="row" *ngIf="!userDataIsValid">
            <div class="col-10 offset-1">
              <textarea class="form-control" placeholder="Reason" name="uDataInvalidReason" id="uDataInvalidReason" [(ngModel)]="userDataInvalidReason"></textarea>
            </div>
          </div>

          <div *ngIf="!userDataIsValid">&nbsp;</div>
          <div *ngIf="!userDataIsValid">&nbsp;</div>

          <div class="row">
            <div class="col-10 offset-1 text-center">
              <button class="btn btn-primary submit-button" type="submit" [disabled]="!signUpForm.form.valid">SIGN UP</button>
            </div>
          </div>
          
        </form>
        <div class="row">&nbsp;</div>
      </div>
    </div>
  </div>
  <div class="row">&nbsp;</div>
</div>



<dialog #successDialog>
  <div class="row">&nbsp;</div>
  <div class="row">
    <h1>Sign up successful</h1>
  </div>
  <div class="row">&nbsp;</div>
  <div class="row">&nbsp;</div>
  <div class="row">You have been successfully signed up.</div>
  <div class="row">&nbsp;</div>
  <div class="row text-center"><button class="btn btn-primary" (click)="successDialogOkClicked(successDialog)">Ok</button></div>
  <div class="row">&nbsp;</div>
</dialog>



<dialog #errorDialog>
  <div class="row">&nbsp;</div>
  <div class="row">
    <h1>Sign up was unsuccessful</h1>
  </div>
  <div class="row">&nbsp;</div>
  <div class="row">&nbsp;</div>
  <div class="row">You need to retry.</div>
  <div class="row">&nbsp;</div>
  <div class="row">&nbsp;</div>
  <div class="row text-center"><button class="btn btn-danger" (click)="errorDialogOkClicked(errorDialog)">Ok</button></div>
  <div class="row">&nbsp;</div>
</dialog>