.blockbox {
    height: 150px;
    width: 150px;
    color: black;
}



.purchaseDialog {
    width: 500px;
    height: 300px;
    border: 1px solid black;
}



.withdrawalDialog {
    width: 500px;
    height: 300px;
    border: 1px solid black;
}



.referralDialog {
    width: 500px;
    height: 350px;
    border: 1px solid black;
}



.moveBalanceDialog {
    width: 500px;
    height: 350px;
    border: 1px solid black;
}