<div clas="container">

    <div clas="row">&nbsp;</div>

    <!--div clas="row">
        <img src='/assets/image/familytoken.png'>
    </div-->

    <div clas="row">&nbsp;</div>
    <div clas="row">&nbsp;</div>
    <div clas="row">&nbsp;</div>
    <div clas="row">&nbsp;</div>
    <div clas="row">&nbsp;</div>

    <div class="row text-center">
        <div class="col-2 offset-2">
            <div>Pool 1</div>
            <div>&nbsp;</div>
            <div>
                <button class="btn btn-outline-secondary blockbox" (click)="purchasePoolButtonClicked()">
                    <div>Purchase Family NFT</div>
                    <div>&nbsp;</div>
                    <div>Balance {{familyTokenBalance}} FT</div>
                    <!--div>Balance US$ {{withdrawalDialogMaximumWithdrawalAmount}}</div-->
                </button>
            </div>
        </div>

        <div class="col-2">
            <div>Pool 2</div>
            <div>&nbsp;</div>
            <div>
                <button class="btn btn-outline-secondary blockbox" (click)="referralPoolButtonClicked()">
                    <div>Referral</div>
                    <div>&nbsp;</div>
                    <div>Balance {{referralDialogMaximumReferralAmount}} FT</div>
                    <div>Balance US$ {{referralDialogMaximumReferralAmount}}</div>
                </button>
            </div>
        </div>

        <div class="col-2">
            <div>Pool 3</div>
            <div>&nbsp;</div>
            <div>
                <button class="btn btn-outline-secondary blockbox" (click)="autostakingPoolButtonClicked()">
                    <div>AutoStaking</div>
                    <div>&nbsp;</div>
                    <div>Balance {{autoStakingDialogBalance}} FT</div>
                    <div>Balance US$ {{autoStakingDialogBalance}}</div>
                </button>
            </div>
        </div>

        <div class="col-2">
            <div>Pool 4</div>
            <div>&nbsp;</div>
            <div>
                <button class="btn btn-outline-secondary blockbox" (click)="familyNftMinerPoolButtonClicked()">
                    <div>Family NFT Miner</div>
                    <div>&nbsp;</div>
                    <div>Balance {{nftMinersAmount}} FT</div>
                    <div>Balance US$ {{nftMinersAmount}}</div>
                </button>
            </div>
        </div>
    </div>


    <div class="row text-center">
        <div class="col-2 offset-5">
            <!--div>FamilyToken Wallet</div-->
            <div>&nbsp;</div>
            <div>
                <button class="btn btn-outline-secondary blockbox" (click)="withdrawalPoolButtonClicked()" [disabled]="withdrawalDisabled">
                    <div>FamilyToken Wallet</div>
                    <div *ngIf="withdrawalDisabled">(Disabled)</div>
                    <div>&nbsp;</div>
                    <div>Balance {{withdrawalDialogMaximumWithdrawalAmount}} FT</div>
                    <div>Balance US$ {{withdrawalDialogMaximumWithdrawalAmount}}</div>
                </button>
            </div>
        </div>
    </div>


    <div class="row">&nbsp;</div>

    <div class="row text-center">
        <div class="col-2 offset-5">
            <button class="btn btn-outline-secondary" (click)="moveBalanceButtonClicked()">Move Balance</button>
        </div>
    </div>

</div>


<dialog #purchaseDialog class="purchaseDialog">

    <div class="container">

        <div class="row">&nbsp;</div>

        <div class="row text-center">
            <h2>Purchase Family NFT</h2>
        </div>

        <div class="row">&nbsp;</div>

        <div class="row">
            <div class="col-5 offset-1">Family Token Balance</div>
            <div class="col-6">FT {{familyTokenBalance}}</div>
        </div>

        <div class="row">
            <div class="col-5 offset-1">Family NFT Price</div>
            <div class="col-6">FT {{this.familyNftPurchasePrice}}</div>
        </div>

        <div class="row">&nbsp;</div>


        <div class="row">
            <div class="col-5 offset-1">Family NFT Quantity</div>
            <div class="col-6"><input class="form-control" type="number" min=0 [max]="maxFamilyNFT" [(ngModel)]="familyNFTPurchaseQuantity"></div>
        </div>

        <div class="row">&nbsp;</div>

        <div class="row">
            <div class="col-12 text-center">
                <button class="btn btn-secondary" (click)="closeDialog(purchaseDialog)">Close</button>
                &nbsp;&nbsp;&nbsp;
                <button class="btn btn-primary" (click)="purchaseDialogOkButtonClicked(); closeDialog(purchaseDialog)" [disabled]="familyNFTPurchaseQuantity < 1 || familyNFTPurchaseQuantity > maxFamilyNFT">Purchase</button>
            </div>
        </div>

        <div class="row">&nbsp;</div>

    </div>

</dialog>


<dialog #withdrawalDialog class="withdrawalDialog">
    
    <div class="container">

        <div class="row">&nbsp;</div>

        <div class="row text-center">
            <h2>Withdrawal</h2>
        </div>

        <div class="row">&nbsp;</div>

        <div class="row">
            <div class="col-5 offset-1">Total Available</div>
            <div class="col-6">{{withdrawalDialogMaximumWithdrawalAmount}}</div>
        </div>

        <div class="row">&nbsp;</div>

        <!--div class="row">
            <div class="col-5 offset-1">
                <label>Withdrawal Amount</label>
            </div>
            <div class="col-5">
                <input class="form-control" type="number" [(ngModel)]="withdrawalDialogWithdrawalAmount" min=0 [max]="withdrawalDialogMaximumWithdrawalAmount">
            </div>
        </div-->

        <div class="row">&nbsp;</div>

        <div class="row">
            <div class="col-12 text-center">
                <button class="btn btn-secondary" (click)="closeDialog(withdrawalDialog)">Close</button>
                &nbsp;&nbsp;&nbsp;
                <button class="btn btn-primary" (click)="withdrawalDialogOkButtonClicked(); closeDialog(withdrawalDialog)" [disabled]=" withdrawalDialogMaximumWithdrawalAmount <=0">Withdraw</button>
            </div>
        </div>

        <div class="row">&nbsp;</div>

    </div>

</dialog>



<dialog #referralDialog class="referralDialog">

    <div class="container">

        <div class="row">&nbsp;</div>

        <div class="row text-center">
            <h2>Referral</h2>
        </div>

        <div class="row">&nbsp;</div>

        <div class="row">
            <div class="col-5 offset-1">Balance Available</div>
            <div class="col-6">{{referralDialogMaximumReferralAmount}}</div>
        </div>

        <div class="row">&nbsp;</div>

        <div class="row">
            <div class="col-10 offset-1 text-center">
                <button class="btn btn-primary" [disabled]="referralDialogMaximumReferralAmount < 24" (click)="generateReferralCodeButtonClicked()">Generate Referral Code $24</button>
            </div>
        </div>

        <div class="row">&nbsp;</div>

        <div class="row" *ngIf="!!generatedReferralCode">
            <div class="col-10 offset-1 text-center">
                Referral Code : {{generatedReferralCode}}
            </div>
        </div>


        <div class="row">&nbsp;</div>

        <div class="row">
            <div class="col-12 text-center">
                <button class="btn btn-secondary" (click)="closeDialog(referralDialog)">Close</button>
            </div>
        </div>

        <div class="row">&nbsp;</div>

    </div>

</dialog>


<dialog #moveBalanceDialog class="moveBalanceDialog">

    <div class="container">

        <div class="row">&nbsp;</div>

        <div class="row text-center">
            <h2>Move Balance</h2>
        </div>

        <div class="row">&nbsp;</div>

        <div class="row">
            <div class="col-5 offset-1">From</div>
            <div class="col-6">
                Pool 1
                <!--
                <select class="form-select" [(ngModel)]="moveBalanceDialogFromPool">
                    <option value=0 disabled>Select</option>
                    <option value=1>Pool 1</option>
                    <option value=2>Pool 2</option>
                    <option value=3>Pool 3</option>
                    <option value=4>Pool 4</option>
                </select>
                -->
            </div>
        </div>

        <div class="row">&nbsp;</div>

        <div class="row">
            <div class="col-5 offset-1">To</div>
            <div class="col-6">
                <select class="form-select" [(ngModel)]="moveBalanceDialogToPool">
                    <option value=0 disabled>Select</option>
                    <!--option value=1>Pool 1</option-->
                    <option value=2>Pool 2</option>
                    <option value=3>Pool 3</option>
                    <option value=4>Pool 4</option>
                </select>
            </div>
        </div>

        <div class="row">&nbsp;</div>

        <div class="row">
            <div class="col-5 offset-1">Value</div>
            <div class="col-6">
                <input class="form-control" type="number" [(ngModel)]="moveBalanceDialogMoveValue" min=0 [max]="maxPossibleMoveBalance">
            </div>
        </div>

        <div class="row">&nbsp;</div>

        <div class="row">
            <div class="col-12 text-center">
                <button class="btn btn-secondary" (click)="closeDialog(moveBalanceDialog)">Close</button>
                &nbsp;&nbsp;&nbsp;
                <button class="btn btn-primary" (click)="moveBalanceDialogOkButtonClicked(); closeDialog(moveBalanceDialog)" [disabled]="(moveBalanceDialogFromPool === 0 || moveBalanceDialogToPool === 0) || (moveBalanceDialogFromPool === moveBalanceDialogToPool)">Move</button>
            </div>
        </div>

        <div class="row">&nbsp;</div>

    </div>

</dialog>


<dialog #successDialog>
  <div class="row">&nbsp;</div>
  <div class="row">
    <h1>{{SuccessTitle}}</h1>
  </div>
  <div class="row">&nbsp;</div>
  <div class="row">&nbsp;</div>
  <div class="row">{{SuccessMessage}}</div>
  <div class="row">&nbsp;</div>
  <div class="row text-center"><button class="btn btn-primary" (click)="successDialogOkClicked(successDialog)">Ok</button></div>
  <div class="row">&nbsp;</div>
</dialog>



<dialog #errorDialog>
  <div class="row">&nbsp;</div>
  <div class="row">
    <h1>{{FailureTitle}}</h1>
  </div>
  <div class="row">&nbsp;</div>
  <div class="row">&nbsp;</div>
  <div class="row">{{FailureMessage}}</div>
  <div class="row">&nbsp;</div>
  <div class="row">&nbsp;</div>
  <div class="row text-center"><button class="btn btn-danger" (click)="errorDialogOkClicked(errorDialog)">Ok</button></div>
  <div class="row">&nbsp;</div>
</dialog>