<div clas="container">

    <div clas="row">&nbsp;</div>

    <div clas="row">
        <img src='/assets/image/familytoken.png'>
    </div>

    <div clas="row">&nbsp;</div>
    <div clas="row">&nbsp;</div>
    <div clas="row">&nbsp;</div>
    <div clas="row">&nbsp;</div>
    <div clas="row">&nbsp;</div>

    <div class="row">
        <div class="col-1 offset-1">
            <button class="btn btn-primary" routerLink="/buy">Buy</button>
        </div>
        <div class="col-1">
            <button class="btn btn-secondary" routerLink="/withdraw">Withdraw</button>
        </div>
    </div>
</div>
